/*
theme rules
==========================================================================
*/

//global
body{
    background-color: var(--background-primary);
    transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 420ms !important;
    box-sizing: border-box;
}
