/*
Size
==========================================================================
*/

html {
  font-size: 62.5%;
}

/*
Color
==========================================================================
*/


$empty: transparent;
$primary: #FF5A70;
$secondary: #898989;


$white: #FFFFFF;
$grey: #888888;

$gray-dark: #232323;
$gray-depp: #202020;

$dark: #000000;
$dark-light: #1C0B11;

$gree: #36CF82;
$yello: #F29D42;

$shadow-navbar: 0px 4px 24px rgba(0, 0, 0, 0.08);
$shadow-btn: 0px 4px 20px rgba(0, 0, 0, 0.25);
$shadow-elements: 0px 4px 15px rgba(0, 0, 0, 0.1);


/*
theme rules
==========================================================================
*/

.light-theme {
    //base
    --base: #000000;
    --background-primary: #F9F9F9;
    --background-secondary: #FFFFFF;
    --background-table: #FFFFFF;

    --primary: #FF5A70;
    --secondary: #898989;
    --brand-dark: #d84a5d;

    --text-white: #FFFFFF;
    --text-gray-dark: #1C0B11;
    --text-gray-middle: #3B3B3B;
    --text-gray-drop: #3B3B3B;
    --text-gray-light: #EBEBEB;
    --text-table: #202020;

    --status-active: #36CF82;
    --status-active-opacity: rgba(54, 207, 130, 0.18);
    --status-pending:  #F29D42;
    --status-pending-opacity:  rgba(242, 157, 66, 0.3);

    --icon-gray: #BEBEBE;
    --icon-gray-light: #DADADA;

    --border-gray: #989B9B;
    --border-gray-light: #EBEBEB;
    --border-dropdown: transparent;

    --shadow-btn: 0px 4px 20px rgba(0, 0, 0, 0.25);
    --shadow-card: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);

    --line-primary: #C4C4C4;

  }

.dark-theme {
    //base
    --base: #BEBEBE;
    --background-primary: #3F3F3F;
    --background-secondary: #202020;
    --background-table: #3F3F3F;

    --primary: #FF5A70;
    --secondary: #BEBEBE;
    --brand-dark: #d84a5d;

    --text-white: #fff;
    --text-gray-dark: #1C0B11;
    --text-gray-middle: #3B3B3B;
    --text-gray-drop: #BEBEBE;
    --text-gray-light: #EBEBEB;
    --text-table: #202020;

    --status-active: #36CF82;
    --status-active-opacity: rgba(54, 207, 130, 0.18);
    --status-pending:  #F29D42;
    --status-pending-opacity:  rgba(242, 157, 66, 0.3);

    --icon-gray: #BEBEBE;
    --icon-gray-light: #DADADA;

    --border-gray: #989B9B;
    --border-gray-light: #EBEBEB;
    --border-dropdown: #EBEBEB;

    --shadow-btn: 0px 4px 20px rgba(216,74,93,0.25);
    --shadow-card: 0 4px 6px -1px rgb(216, 74, 93 / 10%), 0 2px 4px -1px rgb(216, 74, 93 / 6%);

    --line-primary: #C4C4C4;

}
