.card{
  width: 100%;
  margin-top: 3rem;
  //min-height: 15rem;
  border-radius: .4rem;
  padding: 2.4rem 1.2rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: var(--shadow-card);
  background-color: var(--background-secondary);

  &__primary{
    border-left: 4px solid var(--primary);
  }
}
