/* Navbar
   ========================================================================== */

.navbar {
  height: 8.5rem;
  background-color: var(--background-secondary);
  box-shadow: $shadow-navbar;
  @include flexbox-center();
  overflow: hidden;
  @include small() {
    height: 6.1rem;
  }

  &__container {
    width: 92.5%;
    @include flexbox-space-between();
    @include large() {
      width: 95%;
    }
  }

  &__logo {
    width: 15%;
    :hover {
      cursor: pointer;
    }
    .navbar__logo-img {
      width: 14.9rem;
      @include large() {
        width: 10rem;
      }
      @include small() {
        width: 7.9rem;
      }
    }
    @include small() {
      width: auto;
    }
  }

  &__menu {
    height: 8.5rem;
    width: 60%;
    @include flexbox-space-around();
    @include medium() {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 8.5rem;
    border-bottom: 0.6rem solid transparent;
    transition: 0.4s ease-in-out;

    &:hover {
      cursor: pointer;
      border-bottom: 0.6rem solid var(--primary);

      .navbar__item-name,
      .navbar__item-icon,
      .navbar__item-select {
        color: var(--primary);
      }
    }

    &.active {
      cursor: pointer;
      border-bottom: 0.6rem solid var(--primary);
      .navbar__item-icon,
      .navbar__item-select,
      .navbar__item-name {
        color: var(--primary);
      }
    }

    .navbar__item-icon,
    .navbar__item-select {
      color: var(--secondary);
    }

    .navbar__item-name {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: bold;
      color: var(--secondary);
      margin-left: 1rem;
      margin-right: 0.7rem;
      @include large() {
        font-size: 1.5rem;
        line-height: 2.1rem;
      }
    }
  }

  &__user {
    //width: 25%;
    @include flexbox-center();
    justify-content: flex-end;
    @include medium() {
      display: none;
    }

    .navbar__user-line {
      height: 45px;
      background: var(--line-primary);
      width: 1px;
    }

    .navbar__user-img {
      width: 6.5rem;
      height: 6.5rem;
      border-radius: 50%;
      margin-left: 4rem;
      margin-right: 1.3rem;
      &:hover {
        cursor: pointer;
      }

      @include large() {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-left: 2.5rem;
        margin-right: 1.3rem;
      }
    }

    .navbar__user-select {
      height: 1rem;
      color: var(--icon-gray);
      &:hover {
        cursor: pointer;
      }
    }

    .navbar__user-icon-theme {

      @include flexbox-center();
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
      border-radius: 50%;
      margin-right: 2.0rem;
      background-color: var(--primary);
      box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
      color: var(--text-white);
      transition: 0.4s ease-in-out;
      &:hover{
        cursor: pointer;
      }

      &:active{
        transform: scale(0.95);
      }

    }
  }

  &__mobile {
    display: none;
    @include medium() {
      display: block;
    }

    .navbar__mobile-toggle {
      @include flexbox-center();
      flex-direction: column;
      cursor: pointer;
      transition: 0.3s;
      &:active {
        transform: scale(0.95);
      }

      .navbar__mobile-icon {
        height: 0.6rem;
        width: 3.3rem;
        background-color: var(--primary);
        margin-bottom: 0.4rem;
        @include small() {
          height: 0.435rem;
          width: 2.957rem;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    /* .navbar__mobile-section{

    } */
  }
}
