.table__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid var(--border-gray-light);
  padding-bottom: 1.5rem;

  .table__header-info{

    .header__title{
      margin: 0;
      font-size: 14px;
      line-height: 19px;
      font-family: $typo-base;
      text-transform: uppercase;
      color: var(--secondary);
    }

    .header__subtitle{
      margin: 0;
      font-size: 1.1rem;
      line-height: 1.6rem;
      font-family: $typo-base;
      text-transform: capitalize;
      color: var(--secondary);
    }
  }

  .table__header-search{
    display: flex;
    align-items: center;
    width: 23%;
    .input__group{
      width: 100%;
      margin-bottom: 0;
    }
  }

}

table {
  width: 100%;
  box-shadow: none;

  .table__contractor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;

    .table__contractor-user {
      width: 4.1rem;
    }

    .table__contractor-title {
      padding-left: 1.5rem;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: var(--base);
      @extend %truncate;
    }
  }

  .table__options {
    .table__options-icon {
      height: 2.5rem;
      width: 2.5rem;
      cursor: pointer;
    }
  }

  .mat-column-contractorName {
    width: 25%;
    height: 9rem;
    border: 0.1rem solid transparent;
    border-bottom: 0.1rem solid var(--border-gray-light);
    background-color: var(--background-primary);
    color: var(--base);
  }

  .mat-column-type,
  .mat-column-startDate,
  .mat-column-amount,
  .mat-column-status,
  .mat-column-actions{
    width: 15%;
    height: 9rem;
    text-align: center;
    border: 0.1rem solid transparent;
    border-bottom: 0.1rem solid var(--border-gray-light);
    background-color: var(--background-primary);
    color: var(--base);
  }

  th {
    &.mat-header-cell {
      text-align: center;
      color: var(--base);
      background-color: var(--background-primary);
    }
  }

}

.table__status{
  width: 80%;
  height: 2.4rem;
  margin: 0 auto;
  padding: 0 1.1rem;
  border-radius: 2.0rem;
  @include flexbox-start();
  background-color: var(--text-gray-light);

  &.table__status--active{
    background-color: var(--status-active-opacity);
    .table__status-icon,
    .table__status-text{
      color: var(--status-active);
    }

  }

  &.table__status--pending{
    background-color: var(--status-pending-opacity);
    .table__status-icon,
    .table__status-text{
      color: var(--status-pending);
    }
  }

  .table__status-icon{
    font-size: .5rem;
    color: var(--text-gray-middle);
    margin-right: .7rem;
  }

  .table__status-text{
    font-size: 1rem;
    line-height:1.2rem;
    color: var(--text-gray-middle);
    font-weight: bold;
    text-transform: capitalize;
    @extend %truncate;
  }
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-table {
  font-family: $typo-base;
  overflow-x: scroll;
}

.mat-header-cell {
  border: none;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  color: var(--base);
}


.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}
