<div class="filter">

  <div class="filter__header">
    <div class="filter__header-info">
      <h4 class="filter__title">Filter</h4>
      <span class="filter__subtitle">Search contracts</span>
    </div>
    <div class="filter__header-button">
      <button class="button button__secondary">
        <i class="icon-trash"></i>
      </button>
    </div>
  </div>

  <div class="filter__content-inputs">
    <div class="input__group">
      <div class="input__icon input__icon--left">
        <!-- <img class="icon" [src]="calendar" alt="icon-filter"> -->
      </div>
      <select class="input input-primary">
        <option selected>Create on: Jan/10/21 - Jan/28/21</option>
        <option value="1">value</option>
      </select>
    </div>
    <div class="input__group">
      <select class="input input-primary">
        <option selected>Contract type</option>
        <option value="1">Traditional</option>
      </select>
    </div>
    <div class="input__group">
      <input
        type="text"
        class="input input-primary"
        placeholder="Contractor Name"
      >
    </div>
    <div class="input__group">
      <select class="input input-primary">
        <option selected>Status</option>
        <option value="1">Active</option>
        <option value="1">Signature pending</option>
      </select>
    </div>
  </div>
  <div class="filter__content-btn">

    <button class="button button__secondary">
      <i class="icon-trash button__icon"></i>
      <span class="button__text">
        Clear filters
      </span>
    </button>

  </div>
</div>
