<div class="contracts">
  <ontop-navbar></ontop-navbar>
  <div class="contracts__container">

      <div class="contracts__info-title">

        <h2 class="contracts__title">
          Contracts for {{clientData[0].company}}
        </h2>

        <div class="contracts__box-btn">

          <div class="input__group">
            <div class="input__icon input__icon--left">
              <img class="icon" [src]="search" alt="icon-filter">
            </div>
            <input type="text" placeholder="Seach" class="input input-primary">
          </div>

          <button class="button">
            <img class="button__icon" [src]="iconFilter" alt="icon-filter">
            <span class="button__text">
              Filter
            </span>
          </button>
          <button class="button button__primary">
            <img class="button__icon" [src]="iconPlus" alt="icon-plus">
            <span class="button__text">
              New hire
            </span>
          </button>
        </div>

      </div>

      <div class="contracts__card">
        <div class="card card__primary">
          <ontop-filter></ontop-filter>
        </div>
      </div>

      <div class="contracts__table">
        <div class="card card__primary">
          <ontop-table></ontop-table>
        </div>
      </div>
  </div>
</div>

