<div class="dropdown">
  <button class="dropdown__button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon class="dropdown__icon">more_vert</mat-icon>
  </button>

  <mat-menu class="dropdown__menu" #menu="matMenu">
    <button mat-menu-item>
      <span class="dropdown__menu-icon">
        <i class="icon-search"></i>
      </span>
      <span class="dropdown__menu-text">
        Edit
      </span>
    </button>
    <button mat-menu-item>
      <span class="dropdown__menu-icon">
        <i class="icon-sign"></i>
      </span>
      <span class="dropdown__menu-text">
        Sign
      </span>
    </button>
    <button mat-menu-item>
      <span class="dropdown__menu-icon">
        <i class="icon-document"></i>
      </span>
      <span class="dropdown__menu-text">
        View summary
      </span>
    </button>
    <button mat-menu-item>
      <span class="dropdown__menu-icon dropdown__menu-icon--danger">
        <i class="icon-trash"></i>
      </span>
      <span class="dropdown__menu-text">
        Delete
      </span>
    </button>
  </mat-menu>
</div>
