<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Contractor name Column -->
  <ng-container matColumnDef="contractorName">
    <th mat-header-cell *matHeaderCellDef>
      Contractor Name
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="table__contactor">
        <img class="table__contactor-user"
          [src]="element.imgUrl"
          [alt]="element.contractorName"
        >
        <p class="table__contactor-title">
          {{element.contractorName}}
        </p>
      </div>
    </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>
      Type
    </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Start date Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef>
      Start date
    </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>
      Amount
    </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      Status
    </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      Actions
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="table__options">
        <ontop-dropdown></ontop-dropdown>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
