/* Utilities
   ========================================================================== */



// placeholder

%truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Mixin

@mixin flexbox-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-start() {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flexbox-space-between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexbox-space-around() {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
